/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(193, 193, 193);
}

main {
  padding: 0 24px;
}

section {
  padding: 16px 0;
}

.profit {
  text-align: center;
}

.profit-grey {
  color:#fff;
  background-color: #777;
  font-weight:bold;
}

.profit-light-green {
  color:#333;
  background-color: rgb(193 255 191);
  font-weight:bold;
}

.profit-dark-green {
  color:#fff;
  background-color: #299840;
  font-weight:bold;
}

.profit-red {
  color:#fff;
  background-color: #D0342C ;
  font-weight:bold;
}

.cell.options {

}

.cell.options > div {
  display: flex;
  align-items: center;
  height: 100%;
}

.cell.options svg {
  width: 24px;
  height: 24px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #192b5fed;
}

header .brand {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  padding:0;
}

header nav ul li a,
header nav ul li div {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  color: #fff;
}
/* ======================= TABLE ======================= */
.table-wrap {
  display: flex;
  justify-content: center;
}

.table {
  margin: 40px 0;
  width: 66.33%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  font-size: 24px;
}

@media screen and (max-width: 580px) {
  .table {
    width: 100%;
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}

.row:nth-of-type(odd) {
  background: #e9e9e9;
}

.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #192b5fed;
}

@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }

  .row.header {
    padding: 0;
    height: 6px;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell {
    margin-bottom: 10px;
  }

  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 12px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}

/* ======================= TABLE ======================= */
table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
table thead th,
table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
}
